body {
    background-color: #FDF1D9;
}

.header {
    text-align: center;
    color: #3D3D3D;
    font-family: "Lucida Handwriting", Cursive;
    font-size: 90px;
    margin-bottom: 0px;

}

.sponsor {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 30px;
    font-family: serif;
    font-weight: 900;
    color: #4C4C4C;
    font-size: 18px;
}

.pizza {
    text-align: left;
    margin-left: 377px;
    font-size: 35px;
    font-family: cursive;
    margin-top: 10px;
}

.pizzaimg {
    height: 300px;
    width: 400px;
    margin-left: 100px;
    border: 5px solid #23231A;
}

.pasta {
    text-align: left;
    margin-left: 365px;
    font-size: 35px;
    font-family: cursive;
    margin-top: 10px;
}

.pastaimg {
    height: 300px;
    width: 400px;
    margin-left: 200px;
    border: 5px solid #AFD2E9;
}

.dessert {
    text-align: left;
    margin-left: 355px;
    font-size: 35px;
    font-family: cursive;
    margin-top: 10px;
}

.dessertimg {
    height: 300px;
    width: 400px;
    margin-left: 100px;
    border: 5px solid #EDEEC0;
}

.text {
    white-space: nowrap;
}

.pizza, .pasta, .dessert {
    display: inline-block;
}