body {
    background-color: #FDF1D9;
}

.header {
    text-align: center;
    color: #4C4C4C;
    font-family: Cursive, "Lucida Handwriting";
    font-size: 90px;

}

.pizza {
    text-align: left;
    margin-left: 200px;
    font-size: 35px;
    
}

.pizzaimg {
    height: 300px;
    width: 400px;
    margin-left: 100px;
}

.pasta {
    text-align: center;
}

.dessert {
    text-align: left;
}